1000 RCDATA "res\\.gitignore"
1001 RCDATA "res\\build.cmd"
1002 RCDATA "res\\imports.asm"
1003 RCDATA "res\\README.md"
1004 RCDATA "res\\sym.asm"
1005 RCDATA "res\\src\\example-fix.asm"
1006 RCDATA "res\\src\\winmain.c"
1007 RCDATA "res\\inc\\imports.h"
1008 RCDATA "res\\inc\\app.h"
1009 RCDATA "res\\inc\\app.inc"
1010 RCDATA "res\\inc\\macros\\datatypes.inc"
1011 RCDATA "res\\inc\\macros\\extern.inc"
1012 RCDATA "res\\inc\\macros\\imports.inc"
1013 RCDATA "res\\inc\\macros\\patch.h"
1014 RCDATA "res\\inc\\macros\\patch.inc"
1015 RCDATA "res\\inc\\macros\\setsym.inc"
1016 RCDATA "res\\inc\\macros\\watcall.inc"
1017 RCDATA "res\\inc\\patch.h"
